<div class="container">
    <div class="row">
        {# Left Column #}
        <div class="col">
            <div class="row">
                {% include '@AndyFranklinCV/AFCVTemplate1/component/education.html.twig' %}
            </div>
            <div class="row">
                {% include '@AndyFranklinCV/AFCVTemplate1/component/experience.html.twig' %}
            </div>
        </div>

        {# Right Column #}
        <div class="col">
            <div class="row">
                {% include '@AndyFranklinCV/AFCVTemplate1/component/skill.html.twig' %}
            </div>
            <div class="row">
                {% include '@AndyFranklinCV/AFCVTemplate1/component/interest.html.twig' %}
            </div>
        </div>
    </div>
</div>