{% extends '@AndyFranklinCV/AFCVTemplate1/base.html.twig' %}

{% block body %}
    <div class="row">
        {% include '@AndyFranklinCV/AFCVTemplate1/component/title.html.twig' %}
    </div>
    <div class="row">
        {% include '@AndyFranklinCV/AFCVTemplate1/component/layout.html.twig' %}
    </div>
{% endblock %}